.product-tile-container {
    padding: rem-calc(25) rem-calc(20);
    background-color: map-get(map-get($theme-color, primary), sixth);
    cursor: pointer;
    .product-tile-box {
        display: flex;
        padding-bottom: rem-calc(20);
        border-bottom: solid 1px map-get(map-get($theme-color, primary), third);
        .column-one {
            width: rem-calc(175);
            .image-container {
                width: fit-content;
                img {
                    width: auto;
                    height: rem-calc(200);
                    max-width: rem-calc(180);
                    border-radius: 4px;
                }
            }
        }
        .column-two {
            width: 60%;
            padding: rem-calc(20);
            .price-container {
                font-size: rem-calc(20);
                font-weight: map-get(map-get($font, weight), semiBold);
                margin-bottom: rem-calc(15);
            }
        }
        .column-three {
            width: 20%;
            margin-left: auto;
            .condition {
                position: relative;
                top: rem-calc(18);
                padding: rem-calc(20);
            }
        }
    }
}

// Tablet
@media(max-width: map-get($breakpoints, medium)) {
    .product-tile-container {
        .product-tile-box {
            position: relative;
            display: block;
            .column-one {
                margin: 0 auto;
            }
            .column-two {
                display: flex;
                gap: rem-calc(6);
                margin: 0 auto;
                width: unset;
                .price-container {
                    width: 30%;
                }
            }
            .column-three {
                &.active {
                    position: absolute;
                    height: rem-calc(80);
                    width: rem-calc(80);
                    color: map-get(map-get($theme-color, primary), sixth);
                    background-color: map-get(map-get($theme-color, primary), fourth);
                    margin-left: unset;
                    top: 0;
                    border-radius: 50%;
                    .condition {
                        position: relative;
                        top: rem-calc(20);
                        padding: rem-calc(5) rem-calc(21);
                        text-align: center;
                    }
                }
            }
        }       
    }
}

// Mobile
@media(max-width: map-get($breakpoints, small)) {
    .product-tile-container {
        .product-tile-box {
            .column-two {
                display: block;
                gap: rem-calc(6);
                margin: 0 auto;
                width: 85%;
                .price-container {
                    width: 100%;
                }
                .description-container {
                    width: 100%;
                }
            }
        }       
    }
}