.product-details-page-container {
    background-color: map-get(map-get($theme-color, primary), third);
    padding: rem-calc(20 0);
    .product-details-page-box {
        display: flex;
        margin: rem-calc(20) auto;
        gap: rem-calc(15);
        width: 70%;
        background-color: map-get(map-get($theme-color , primary), sixth);
        padding: rem-calc(30);
        .column-one {
            width: 70%;
            .pdp-image-container {
                margin-bottom: rem-calc(120);
                .image-container {
                    display: flex;
                    justify-content: center;
                    img {
                        width: 100%;
                        max-width: 70%;
                    }
                }
            }
            .pdp-description-container {
                .description-title-container {
                    h2 {
                        font-size: rem-calc(24);
                    }
                }
                .description-container {
                    p {
                        font-size: rem-calc(13);
                        color: map-get(map-get($theme-color, primary), fifth);
                    }
                }
            }
        }
        .column-two {
            width: 30%;
            .quantity-container {
                font-size: rem-calc(14);
            }
            .pdp-title-container {
                h1 {
                    font-size: rem-calc(24);
                    font-weight: map-get(map-get($font, weight), bold); 
                }
            }
            .pdp-price-container {
                display: flex;
                .price-box {
                    font-size: rem-calc(40);
                    margin-bottom: rem-calc(50);
                }
                .decimals-box {
                    font-size: rem-calc(20);
                    margin-bottom: rem-calc(50);
                    transform: translate(5px, 5px);
                }
            }
            .pdp-button-container {
                .button-container {
                    background-color: map-get(map-get($theme-color, primary), secondary);
                    transition: all 0.3s;
                    &:hover {
                        opacity: 0.7;
                    }
                    button {
                        color: map-get(map-get($theme-color, primary), sixth);
                    }
                }
            }
        }
    }
}

// Tablet
@media(max-width: map-get($breakpoints, medium)) {
    .product-details-page-container {
        .product-details-page-box {
            display: block;
            width: 80%;
            .column-one, .column-two {
                margin: 0 auto;
                width: 100%;
            }
            .column-one {
                margin-bottom: rem-calc(50);
                .pdp-image-container {
                    .image-container {
                        img {
                            max-width: unset;
                        }
                    }
                }
            }
        }
    }
}

// Mobile
@media(max-width: map-get($breakpoints, small)) {
    .product-details-page-container {
        .product-details-page-box {
            width: 100%;
        }
    }
}