.product-list-page-container {
    background-color: map-get(map-get($theme-color, primary), third);
    padding: rem-calc(20 0);
    .product-list-page-box {
        margin: rem-calc(20) auto;
        width: 70%;
    }
}