.product-list-page-container {
    background-color: map-get(map-get($theme-color, primary), third);
    padding: rem-calc(20 0);
    .product-list-page-box {
        margin: rem-calc(20) auto;
        width: 70%;
    }
}

@media(max-width: map-get($breakpoints, medium)) {
    .product-list-page-container {
        .product-list-page-box {
            width: 80%;
        }
    }
}

@media(max-width: map-get($breakpoints, small)) {
    .product-list-page-container {
        .product-list-page-box {
            width: 100%;
        }
    }
}