// Colors

$theme-color: (
    primary: (
      first: #FEE600,
      secondary: #3483FA,
      third: #EDEEEF,
      fourth: #393A3B,
      fifth: #A4A5A6,
      sixth: #FFFFFF,
      seventh: #B3B4B5,
      eight: #A0A1A2
    )
);

// Breakpoints
// --------------

$breakpoints: (
  small: 345px,
  medium: 675px,
  large: 1047px
);

// Fonts
$font: (
  weight: (
    normal: 400,
    semiBold: 500,
    bold: 600,
    superBold: 700
  )
)