// Colors

$theme-color: (
    primary: (
      first: #FEE600,
      secondary: #3483FA,
      third: #EDEEEF,
      fourth: #393A3B,
      fifth: #A4A5A6,
      sixth: #FFFFFF
    )
);

// Breakpoints
// --------------

$breakpoints: (
  small: 0,
  medium: 675px,
  large: 1047px
);