.breadcrumb-container {
    display: flex;
    width: 70%;
    margin: 0 auto;
    .breadcrumb-box {
        color: map-get(map-get($theme-color, primary), seventh);
        &:after {
            content: ">";
            margin: 0 rem-calc(10);
        }
        &:last-of-type {
            color: map-get(map-get($theme-color, primary), eight);
            &:after {
                content: "";
                margin: 0 rem-calc(10);
            }       
        }
    }
}