.button-container {
    background-color: map-get(map-get($theme-color, 'primary'), third);
    padding: rem-calc(14);
    cursor: pointer;
    button {
        border: none;
        background-color: transparent;
        font-size: rem-calc(16);
        cursor: pointer;
    }
}