.button-container {
    background-color: map-get(map-get($theme-color, 'primary'), third);
    padding: rem-calc(15);
    border: none;
    font-size: rem-calc(16);
    text-align: center;
    cursor: pointer;
}