.searchbar-container {
    position: relative;
    display: flex;
    width: 80%;
    z-index: 1;
    .searchbar-box {
        display: flex;
        align-items: center;
        width: 100%;
    }
}